.contact {
  margin: 0px;
  padding: 10px;
  border: 0px solid rgb(255, 253, 253);
  background-color: rgb(255, 255, 255);
  align-content: left
}

.contact span {
  font-size: 1.2em;
  text-decoration: none;
  color: #333;
}
